<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="/assets/icons/whatsapp.png" alt="party" width="32" height="32"> Whatsapp Cloud Api</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active"><img src="/assets/icons/film.svg" alt="film" width="32" height="32"> Cine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="happy-hour" routerLinkActive="active"><img src="/assets/icons/music-note-beamed.svg" alt="party" width="32" height="32"> Fiesta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="flight" routerLinkActive="active"><img src="/assets/icons/plane-solid.svg" alt="fligth" width="32" height="32">Vuelo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
